.THIS.slds-theme_success .slds-form-element__label {
    color: #141B11;
}
.THIS.slds-theme_success .slds-text-title {
    color: #141B11;
}

.THIS.slds-card.slds-theme--success {
    background-color: rgb(4, 132, 75);
}